@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Milad Hospital</h1>
    <h1 class="display-3">
        جهت گرفتن وقت قبلی بر روی 
        <a class="nav-link text-dark" asp-area="" asp-page="/reservation/appointmentlist">نوبت دهی</a>
        کلیک نمایید
    </h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
